<!Doctype html>
<html>
  <header>
    <meta charset="utf-8">
    <title>Login Form</title>
  </header>
  <body>
    <form method = "post">
      Username :
      <input type="text" placeholder="Input your Username" name ="username">

      <br>

      Password :
      <input type="password" placeholder="Input your Password" name="password">

      <br>

      <input type="submit" name="action" value="Login">
      <input type="submit" name="action" value="Register">
    </form>
  </body>
</html>
