<!Doctype html>
<html>
  <header>
    <meta charset="utf-8">
    <title>Register Form</title>
  </header>
  <body>
    <form action="{% url 'user:register' %}" method = "post">
      {% csrf_token %}
      Username :
      <input type="text" placeholder="Input your Username" name ="username">

      <br>

      Password :
      <input type="password" placeholder="Input your Password" name="password">

      <br>

      Email :
      <input type="email" placeholder="Input your Email" name="email">

      <br>

      <input type="submit" value="Confirm">
    </form>
  </body>
</html>
